<h1>Зачем нужен этот сайт.</h1>
<p>В первую очередь, он нужен для структурирования знаний в области IT,
  к тому же, материалы, представленные на сайте, могут быть полезны
  и для обычного посетителя.</p>
<br><br>
<p><small>Сайт написан на <b>Ruby on Rails</b>.<br>
Статьи формируются с использованием <a href='https://pandao.github.io/editor.md/en.html'>editor.md</a>
и языка разметки <b>markdown</b>.</small></p>
