%h1= t('categories.show').capitalize

%span.badge.badge-pill.badge-secondary
  = @item.name
  = link_to content_tag(:i, nil, class: 'fa fa-pencil'),
    edit_category_path(@item)
  = link_to content_tag(:i, nil, class: 'fa fa-trash'), category_path(@item),
    method: :delete, data: { confirm: 'Вы уверены?' }
